*{
	margin:0px;
	padding:0px;
}
body{
	background-color:#012231;
	position: relative;
}
#biggest{
	width:1100px;
	height:1000px;
	background-color:#012231;
	margin:auto;
}
.head{
	width:100%;
	height:55px;
	background-color: #012231;
	border-bottom:2px solid white;
	position: fixed;
	top:0px;
}
.one{
	width:65%;
	height:70%;
	margin-left:1%;
	padding:10px;
	border-bottom:1px solid rgba(255,255,255,0.2);
}
.two{
	width:20%;
	height:70px;
	/*background-color: green;*/
	/*margin-left:2%;*/
	position: relative;
	top:-60px;
	left:890px;
}
.head-next{
	width:100%;
	height:27%;
	/*background-color: lightblue;*/
	margin-top:57px;
}
.first,.second,.third{
	width:30%;
	height:95%;
	margin-left:1%;
	margin-top: 0.5%;
	float:left;
}
.first{
	width:20%;
}
.shadow{
	margin-left: 13%;
	margin-top:10%;
	color: black;
	text-shadow:white 15px 10px 3px;"
}
.first a,.third a{
	text-decoration: none;
}
#text{
	margin-top: 40%;
}
.text{
	/*font-size: px;*/
	color:/*#2FD828*/black;
	margin-top: 0px;
	margin-left: -10%;
	text-shadow:white 15px 10px 3px;"
}
.yourself,#yourself{
	width:80px;
	height:80px;
	border-radius: 100%;
}
.yourself{
	margin-left: 33%;
	margin-top: 5%;
}
.first img{
	width:80%;
	margin-left:9%;
	margin-top:23%;
}
.second{
	width:61%;
	height:95%;
	/*background-color:#DDDDDD;*/
}
.distant{
	display:block;
	width:100px;
	height:20px;
	background-color: lightblue;
	margin:auto;
}
.third{
	width:15%;
}
#search{
	width:350px;
	height:33px;
	margin-left:7%;
	border-radius: 8px;
	outline: 0;
	font-size: 18px;
	color:gray;
	position: relative;
	left:270px;
	top:-34px;
}
#search:hover{
	border:2px solid lightblue;
}
.title{
	width:200px;
	height:100%;
	text-align: center;
	margin-top:-5px;
	margin-left:10px;
}
#button-picture{
	width:33px;
	height:70%;
	margin-left:.5%;
	background-image: url(btn.png);
	border-radius: 5px;
	border:2px solid green;
	position: relative;
	left:262px;
	top:-38px;
}
.button{
	width:23.5%;
	height:50%;
	margin-top:3.5%;
	background-color:#2FD828;
	border-radius: 8px;
	border:none;
	outline:0;
	font-size:16px;
	line-height: 50%;
	color:white;
}
.button:hover{
	color:black;
}
.head h1{
	display:inline;
	color:#2FD828;
	font-size: 2em;
}
.leftf{
	width:100%;
	height:400px;
}
.left{
	width:18%;
	height:100%;
	background-color: #012231;
	border-right:5px solid white;
}
.right{
	width:100%;
	height:100%;
	background-color: #DDDDDD;
	display: none;
}
.four-book{
	width:17.41%;
	height:92%;
	/*background-color: white;*/
	padding: 15px;
	text-align: center;
}
.four-book img{
	width:80%;
	margin-top:15%;
}
.four-book p{
	text-indent: 2em;
	font-family:楷体;
	font-size:18px;
	margin-top: 15%;
}
.left,.four-book{
	float:left;
}
#line{
	width:100%;
	height:5px;
	background-color: white;
}
.foot{
	width:98%;
	height:200px;
	background-color: #012231;
	margin:auto;
	margin-top:20px; 
	padding-top:1%;
}
.foot img{
	width:3%;
	margin-top: 1%;
}
.special1{
	margin-left: 4%;
}
#special,.foot h5{
	margin-left:30%;
}
.foot p{
	width:35%;
	margin-left: 25%;
	height:25%;
	border-bottom: 1px solid rgba(255,255,255,0.2);
}
.foot p span{
	font-size: 14px;
	margin-left: 14.5%;
}
.foot h5,.foot p span,.finall{
	color:white;
}
.foot div{
	width:40%;
	height:20%;
	margin-left: 27%;
	margin-top: 1%;
}
.foot a{
	text-decoration: none;
}
.finall{
	margin-top: 3%;
	margin-left:6%;
	font-size: 14px;
}
.left li{
	width:80%;
	height:14.15%;
	/*background-color: white;*/
	list-style-type:none;
	margin:auto;
	border-bottom:1px solid rgba(255,255,255,0.2);
}
.pictures{
	width:15%;
}
.link img,.link p{
	float:left;
	display: inline;
	margin-left:10%;
	color:white;
	margin-top:10%;
}
#none{
	border:none;
}
.special1:hover,#special:hover{
 transform: rotate(360deg);
-o-transform:rotate(360deg);
-moz-transform:rotate(360deg);
transition-duration:1s; 
}
li{
	list-style-type: none;
}
.wrap{height:95%;
 width:95%;
/* background-color:lightblue;*/
 overflow: hidden;
 /*position: relative;*/
 margin:6px auto;}
 /*.wrap ul{position:absolute;
 	}*/ 
 .wrap ul li{height:170px;display: none;}
 .wrap ol{
 	margin-top: 7%;
 	margin-left: 38.5%;
}
 .wrap ol li{height:20px; width: 20px;
 	border-radius: 100%;
 background:#ccc;
 border:solid 1px lightblue;
 margin-left:5px;
 color:#000;
 float:left;
 line-height:center;
 text-align:center;
 cursor:pointer;}
 .wrap ol .on{background:#E97305;
 color:#fff;}
 #pic li img{
 	width:40%;
 	margin:15px 30px;
 }
 .tabBtn:first-child{
	margin-left: 10px;
}
.tabBtn{
	margin-top:10px;
	text-align:center;
	line-height:30px;
	display:block;
	float:left;
	width:70px;
	height:30px;
	background:#00AC90;
	border-radius: 5px;
	cursor: pointer;
	outline: none;
	margin-left:5px;
}
.active{
	background:#FFB200;
}
.box{
	margin-top:10px;
	display: none;
	width:170px;
	height:150px;
	float: left; 
	list-style: none;
	text-align: center;
	background: #00AC90;
	border-radius: 5px;
	cursor: pointer;
	outline: none;
}
#boxOne{
	background:white url(../image/one.png) no-repeat center;
}
#boxTwo{
	background:white url(../image/two.png) no-repeat center;
}